
#b1esb {
  left: 307px;
  top: 468px;
}

#b2src {
  left: 335px;
  top: 272px;
}

#b3grk {
  left: 200px;
  top: 345px;
}

#b4kup {
  left: 152px;
  top: 392px;
}

#b5lmr {
  left: 214px;
  top: 490px;
}

#b6iku {
  left: 288px;
  top: 361px;
}

#b7pad {
  left: 360px;
  top: 385px;
}

#b8prm {
  left: 173px;
  top: 305px;
}

#b9ssc {
  left: 218px;
  top: 267px;
}

#b10zlc {
  left: 302px;
  top: 326px;
}

#b11pku {
  left: 170px;
  top: 425px;
}

#b12pct {
  left: 478px;
  top: 306px;
}

#b13tir {
  left: 192px;
  top: 415px;
}

#b14elr {
  left: 235px;
  top: 450px;
}

#b15bam {
  left: 665px;
  top: 321px;
}

#b16cae {
  left: 488px;
  top: 253px;
}

#b17gwb {
  left: 301px;
  top: 385px;
}

#b18rag {
  left: 195px;
  top: 387px;
}

#b19tmc {
  left: 85px;
  top: 245px;
}

#b20qrg {
  left: 428px;
  top: 258px;
}

#b21sky {
  left: 661px;
  top: 251px;
}

#b22nur {
  left: 463px;
  top: 275px;
}

#b23vgp {
  left: 398px;
  top: 405px;
}

#b24bwp {
  left: 588px;
  top: 308px;
}

#b25msq {
  left: 411px;
  top: 245px;
}

#b26bee {
  left: 356px;
  top: 427px;
}

#b27cgs {
  left: 103px;
  top: 281px;
}

#b28egw {
  left: 477px;
  top: 345px;
}

#b29fls {
  left: 458px;
  top: 294px;
}

#b30gls {
  left: 304px;
  top: 417px;
}

#b31rec {
  left: 455px;
  top: 251px;
}

#b32rem {
  left: 374px;
  top: 306px;
}

#b33ses {
  left: 682px;
  top: 308px;
}

#b34sca {
  left: 450px;
  top: 352px;
}

#b35est {
  left: 492px;
  top: 330px;
}

#b36lch {
  left: 417px;
  top: 294px;
}

#b37lcg {
  left: 576px;
  top: 327px;
}

#b38lct {
  left: 603px;
  top: 208px;
}

#b39nak {
  left: 701px;
  top: 321px;
}

#b40qan {
  left: 283px;
  top: 405px;
}

#b41rsl {
  left: 541px;
  top: 290px;
}

#b42sks {
  left: 552px;
  top: 201px;
}

#b43wst {
  left: 607px;
  top: 233px;
}

#b44rsc {
  left: 682px;
  top: 193px;
}

#b45cmg {
  left: 591px;
  top: 68px;
}

#b46epp {
  left: 691px;
  top: 432px;
}

#b47fgo {
  left: 561px;
  top: 86px;
}

#b48tke {
  left: 628px;
  top: 223px;
}

#b49tor {
  left: 528px;
  top: 195px;
}

#b50asu {
  left: 382px;
  top: 283px;
}

#b51bbs {
  left: 638px;
  top: 386px;
}

#b52esc {
  left: 643px;
  top: 212px;
}

#b53fhi {
  left: 682px;
  top: 396px;
}

#b54igt {
  left: 597px;
  top: 84px;
}

#b55sha {
  left: 668px;
  top: 216px;
}

#b56tkk {
  left: 546px;
  top: 253px;
}

#b57tog {
  left: 528px;
  top: 175px;
}

#b58bar {
  left: 640px;
  top: 101px;
}

#b59nrg {
  left: 557px;
  top: 272px;
}

#b60kta {
  left: 556px;
  top: 58px;
}

#b61kar {
  left: 661px;
  top: 97px;
}

#b62kca {
  left: 608px;
  top: 52px;
}

#b63mob {
  left: 703px;
  top: 221px;
}

#b64cor {
  left: 394px;
  top: 268px;
}

#b65ccl {
  left: 585px;
  top: 252px;
}

#b66fqm {
  left: 683px;
  top: 168px;
}

#b67gpc {
  left: 807px;
  top: 68px;
}

#b68orf {
  left: 493px;
  top: 78px;
}

#b69slg {
  left: 547px;
  top: 31px;
}

#b70der {
  left: 755px;
  top: 180px;
}

#b71ver {
  left: 684px;
  top: 101px;
}

#b72grk {
  left: 826px;
  top: 107px;
}

#b73rfc {
  left: 603px;
  top: 0px;
}

#b74pun {
  left: 674px;
  top: 128px;
}

#b75blb {
  left: 622px;
  top: 15px;
}

#b76bss {
  left: 651px;
  top: 280px;
}

#b77bli {
  left: 582px;
  top: 285px;
}

#b78evl {
  left: 686px;
  top: 145px;
}

#b79fth {
  left: 647px;
  top: 155px;
}

#b80gkk {
  left: 850px;
  top: 93px;
}

#b81hht {
  left: 798px;
  top: 217px;
}


#b82wis {
  left: 721px;
  top: 242px;
}

#b83hgg {
  left: 801px;
  top: 183px;
}


#b84ral {
  left: 574px;
  top: 28px;
}


#b85rtr {
  left: 518px;
  top: 82px;
}

#b86dak {
  left: 511px;
  top: 59px;
}

#b87tpr {
  left: 522px;
  top: 138px;
}

#b88oha {
  left: 463px;
  top: 95px;
}

#b89swb {
  left: 806px;
  top: 242px;
}

#b90awd {
  left: 671px;
  top: 275px;
}

#b91gwl {
  left: 818px;
  top: 25px;
}

#b92lis {
  left: 638px;
  top: 292px;
}

#b93thp {
  left: 813px;
  top: 138px;
}

#b94fqt {
  left: 658px;
  top: 138px;
}

#b95rlk {
  left: 632px;
  top: 41px;
}

#b96ftk {
  left: 820px;
  top: 216px;
}

#b97glt {
  left: 803px;
  top: 3px;
}

#b98rah {
  left: 665px;
  top: 42px;
}

#b99sph {
  left: 803px;
  top: 100px;
}
